.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spacer {
  flex: 1 1 auto;
}

.header-sidenav {
  width: 200px;
  height: 44px;
  background: #3f51b5;
  padding: 10px;
}

mat-list-item {
    cursor: pointer;
}

mat-list-item:hover {
    background-color: #b0b0b0;
}

.icon-title {
  margin: 3px;
  padding-top: 2px !important;
}
